<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <% if user_signed_in? %>
   <%= link_to user_essays_path(current_user), class: "navbar-brand" do %>
      <!-- <img src="./../../assets/images/logo.png" alt="logo"> -->
      <img src="https://origoedu.com/images/logo.svg" alt="logo">
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <!-- <img src="./../../assets/images/logo.png" alt="logo"> -->
      <img src="https://origoedu.com/images/logo.svg" alt="logo">
    <% end %>
  <% end %>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", user_essays_path(current_user), class: "mr-3" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "About Us", "https://origoedu.com/en/story", class: "mr-3" %>
      <%= link_to "Our Services", "https://origoedu.com/en/services", class: "mr-3" %>
      <%= link_to "Essay Review Pricing", pricing_essays_path %>
      <%= link_to "Login", new_user_session_path, class: "ml-3" %>
    <% end %>
  </div>
</div>
