<h2 class="mb-5">Lead Details</h2>

<div class="mini-container">
  <p>Name: <strong><%= @lead.full_name %></strong></p>
  <p>Email: <strong><%= @lead.email %></strong></p>
  <p>Phone: <strong><%= @lead.phone %></strong></p>
  <br>
  <p>Current status: <strong><%= @lead.current_status %></strong></p>
  <br>
  <p class="mb-2">Notes: <strong><%= @lead.notes %></strong></p>
  <%= link_to edit_lead_path(@lead) do %>
    <i class="fas fa-edit"></i>
  <% end %>
</div>
