<p style='text-align: center; margin: 20px;'>Hey <%= @essay.user.full_name %>! &#128075;</p>

<p style='text-align: center; margin: 20px;'>A new essay came in and we've assigned it to you! Here are the submission details:</p>

<p style='margin: 20px;'>Student Name: <strong><%= @essay.student_name %></strong></p>
<p style='margin: 20px;'>Email: <strong><%= @essay.email %></strong></p>
<p style='margin: 20px;'>Applicant Type: <strong><%= @essay.applicant_type %></strong></p>
<p style='margin: 20px;'>Country Applying To: <strong><%= @essay.country_applying %></strong></p>
<% if @essay.university_applying.present? %>
  <p style='margin: 20px;'>University Applying To: <strong><%= @essay.university_applying %></strong></p>
<% end %>
<% if @essay.program_applying.present? %>
  <p style='margin: 20px;'>Program Applying To: <strong><%= @essay.program_applying %></strong></p>
<% end %>
<p style='margin: 20px;'>Essay Prompt: <%= @essay.prompt %> (<%= @essay.word_count %> words)</p>
<p style='margin: 20px;'><%= simple_format(strip_tags(@essay.essay)) %></p>

<p style='text-align: center; margin: 20px;'>The essay is attached to this email. <strong>Please review and return this essay to <%= @essay.student_name %> by <%= @essay.review_deadline %>.</strong></p>

<p style='text-align: center; margin: 20px;'>Best regards,</p>

<p style='text-align: center; margin: 20px;'>The Origo Team</p>
