<p style='text-align: center; margin: 20px;'>Hey <%= @essay.student_name %>! &#128075;</p>

<p style='margin: 20px;'>Thank you for trusting us with your essay!</p>

<p style='margin: 20px;'>Your essay is currently being processed, and we'll get back to you within 24 hours with another email sharing payment details and instructions.</p>

<p style='margin: 20px;'>For your reference, please see your submission details below and essay attached.</p>

<ul>
  <li style='margin: 20px;'>Student name: <strong><%= @essay.student_name %></strong></li>
  <li style='margin: 20px;'>Applicant type: <strong><%= @essay.applicant_type %></strong></li>
  <li style='margin: 20px;'>Country applying to: <strong><%= @essay.country_applying %></strong></li>
  <% if @essay.university_applying.present? %>
    <li style='margin: 20px;'>University applying to: <strong><%= @essay.university_applying %></strong></li>
  <% end %>
  <% if @essay.program_applying.present? %>
    <li style='margin: 20px;'>Program applying to: <strong><%= @essay.program_applying %></strong></li>
  <% end %>
  <li style='margin: 20px;'>Essay prompt: <strong><%= @essay.prompt %></strong></li>
  <li style='margin: 20px;'>Essay word count: <strong><%= @essay.word_count %></strong></li>
</ul>

<p style='margin: 20px;'>If anything was submitted incorrectly, do let us know in a reply to this email. Otherwise, we'll be in touch with you soon!</p>

<p style='margin: 20px;'>Best regards,</p>

<p style='margin: 20px;'>The Origo Team</p>
