<p style='text-align: center; margin: 20px;'>Hey team!</p>

<p style='text-align: center; margin: 20px;'>We just received a new essay to review.

<p style='margin: 20px;'>Please send the student an invoice ASAP via Xendit, screenshot this email, and let the Origo group know when the invoice is sent. Once payment has been made, please assign this essay to a reviewer!</p>

<p style='text-align: center; margin: 20px;'>Submission Details:</p>

<p style='margin: 20px;'>Student Name: <strong><%= @essay.student_name %></strong></p>
<p style='margin: 20px;'>Email: <strong><%= @essay.email %></strong></p>
<p style='margin: 20px;'>Applicant Type: <strong><%= @essay.applicant_type %></strong></p>
<p style='margin: 20px;'>Country Applying To: <strong><%= @essay.country_applying %></strong></p>
<% if @essay.university_applying.present? %>
  <p style='margin: 20px;'>University Applying To: <strong><%= @essay.university_applying %></strong></p>
<% end %>
<% if @essay.program_applying.present? %>
  <p style='margin: 20px;'>Program Applying To: <strong><%= @essay.program_applying %></strong></p>
<% end %>
<p style='margin: 20px;'>Essay Prompt: <%= @essay.prompt %> (<%= @essay.word_count %> words)</p>
<p style='margin: 20px;'>Payment Amount: <strong>USD <%= @essay.essay_price %></strong></p>

<% if @essay.discountcode.present? && @essay.discountcode != "" %>
  <p style='margin: 20px;'>Discount Code: <strong><%= @essay.discountcode %> -- please adjust price for discount code.</strong></p>
<% end %>
