<h2 class="mb-5">Confirm your details and pay</h2>

<h4 class="mb-3 text-center">Submission Details</h4>
<p class="mb-0">Student name: <%= @essay.student_name %></p>
<p class="mb-0">Email: <%= @essay.email %></p>
<p class="mb-0">Applicant type: <%= @essay.applicant_type %></p>
<p class="mb-0">Country Applying To: <%= @essay.country_applying %></p>
<% if @essay.university_applying.present? %>
  <p class="mb-0">University Applying To: <%= @essay.university_applying %></p>
<% end %>
<% if @essay.program_applying.present? %>
  <p class="mb-0">Program Applying To: <%= @essay.program_applying %></p>
<% end %>

<p class="mb-0 mt-3">Essay prompt: <%= @essay.prompt %></p>
<p class="mb-0">Essay word count: <%= @essay.word_count %> words</p>
<p>Price: $<%= @essay.essay_price %> (USD)</p>

<p class="text-center my-5"><strong>We've just sent you an email with payment details and instructions. If you'd like to proceed, do follow those steps and we'll get started on your essay!</strong></p>

<%= link_to "< back to Home", root_path %>

<div class="center">
  <%#= link_to "Back to Home", root_path, class: "main-btn" %>
</div>
