<h4 class="text-center">Hello, <%= current_user.full_name %>!</h4>
<h1 class="mb-5">Here's your Dashboard</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Applicant name</th>
      <th scope="col">Applicant type</th>
      <th scope="col">Country</th>
      <% if current_user.administrator == true %>
        <th scope="col">Date Submitted</th>
      <% end %>
      <th scope="col">Deadline</th>
      <th scope="col">Reviewer</th>
      <th scope="col">Assigned</th>
      <th scope="col">Reviewed</th>
      <th scope="col">Meeting Scheduled</th>
      <th scope="col">Completed</th>
      <th scope="col">Next Step</th>
    </tr>
  </thead>
  <tbody>
    <% @essays.each do |essay| %>
      <tr>
        <td class="align-middle">
          <%= link_to(user_essay_path(current_user, essay)) do %>
            <i class="fas fa-info-circle"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <%= link_to(essay.attachment_url) do %>
            <i class="fas fa-download"></i>
          <% end %>
        </td>
        <td class="align-middle"><%= essay.student_name %></td>
        <td class="align-middle"><%= essay.applicant_type %></td>
        <td class="align-middle"><%= essay.country_applying %></td>
        <td class="align-middle"><%= essay.date_submitted %></td>
        <td class="align-middle"><%= essay.deadline %></td>
        <% if current_user.administrator == true %>
          <td class="align-middle">
            <% if essay.user %>
              <%= essay.reviewer_name %>
            <% else %>
              -
            <% end %>
          </td>
        <% end %>

        <td class="align-middle">
          <% if essay.assigned? %>
            <i class="fas fa-check"></i>
          <% else %>
            -
          <% end %>
        </td>
        <td class="align-middle">
          <% if essay.reviewed? %>
            <i class="fas fa-check"></i>
          <% else %>
            -
          <% end %>
        </td>
        <td class="align-middle">
          <% if essay.meeting_scheduled? %>
            <i class="fas fa-check"></i>
          <% else %>
            -
          <% end %>
        </td>
        <td class="align-middle">
          <% if essay.completed? %>
            <i class="fas fa-check"></i>
          <% else %>
            -
          <% end %>
        </td>
        <td class="align-middle">
          <% if essay.completed? %>
            Done!
          <% elsif essay.next_step == "Assign reviewer" %>
            <%= link_to essay.next_step, edit_essay_path(essay) %>
          <% else %>
            <%= link_to essay.next_step, essay_path(essay), :method => :patch, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
