<%= link_to "< back", root_path, class: "back-btn" %>

<h2 class="mb-5">Submit your Essay</h2>

<%= simple_form_for @essay do |f| %>
<%= f.input :student_name, label: "Full name" %>
<%= f.input :email %>
<%= f.input :applicant_type, label: "Applicant type", as: :radio_buttons, collection: [['Undergraduate', 'Undergraduate'], ['Graduate', 'Graduate']], label_method: :second, value_method: :first %>
<%= f.input :country_applying, label: "Country applying to", as: :radio_buttons, collection: [['US', 'US'], ['CA', 'CA'], ['UK', 'UK'], ['Other', 'Other']], label_method: :second, value_method: :first %>
<%= f.input :university_applying, label: "University applying to" %>
<%= f.input :program_applying, label: "Program applying to" %>
<%= f.input :prompt, label: "Essay prompt" %>
<%= f.input :word_count, label: "Essay word count", hint: "If your essay word prompt is by character count, please divide the characters by 6 to get an approximate word count (E.g. UCAS 4,000 characters is 667 words.)" %>
<%= f.input :essay, label: "Please input your essay draft here.", hint: "Should be a simple copy and paste of your full draft!", :as => :text, :input_html => { 'rows' => 8}  %>

<%#= f.label :attachment, label: "Please upload your essay." %>

<%#= f.file_field :attachment %>

<%= f.input :notes, label: "Any additional remarks?", placeholder: "E.g. Having some trouble with essay organization - would appreciate feedback focused on essay structure!" %>
<br>
<%= f.input :agree, as: :boolean, label: " I agree that Origo Edu will not write my essay for me." %>

<div class="center">
  <div class="d-flex justify-content-center price-tag mt-4">
    <p>Price: USD&nbsp;</p>
    <p class="price">0</p>
  </div>
</div>

<div class="center">
  <%= link_to "See Pricing Details", pricing_essays_path, class: "pricing-details mt-2" %>
</div>

<div class="center">
  <%= f.button :submit, "Submit Essay!", class: "main-btn mt-4" %>
</div>
<% end %>

<p class="text-center my-4">or</p>

<!-- Button trigger modal -->

<div class="center">
  <button type="button" class="btn main-btn" data-toggle="modal" data-target="#essayModal" href="/leads/new">
    Want submit multiple essays?
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="essayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">We process submissions for multiple essays separately. Please leave us your email and we will get in touch with you within 24 hours! &#128522;</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @lead, url: leads_path do |f| %>
        <%= f.input :full_name, label: "Full name" %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <br>
        <div class="center">
          <div class="d-flex">
            <button type="button" class="btn secondary-btn mr-3" data-dismiss="modal">No thanks</button>
            <%= f.button :submit, "Submit!", class: "btn main-btn" %>
          </div>
        </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "price" %>
