<h1 class="mb-5">Submit your Essay</h1>

<%= simple_form_for @essay do |f| %>
  <%= f.input :student_name, label: "Full name" %>
  <%= f.input :email %>
  <%= f.input :applicant_type, label: "Applicant type", as: :radio_buttons, collection: [['Undergraduate', 'Undergraduate'], ['Graduate', 'Graduate']], label_method: :second, value_method: :first %>
  <%= f.input :country_applying, label: "Country you're applying to", as: :radio_buttons, collection: [['US', 'US'], ['CA', 'CA'], ['UK', 'UK'], ['Other', 'Other']], label_method: :second, value_method: :first %>
  <%= f.input :university_applying, label: "University you're applying to (if applicable)" %>
  <%= f.input :program_applying, label: "Program you're applying to (if applicable)" %>
  <%= f.input :prompt, label: "Essay prompt" %>
  <%= f.input :word_count, label: "Essay word count", placeholder: "100 - 1,000" %>
  <br>
  <%= f.label :attachment, label: "Please upload your essay." %>
  <%= f.file_field :attachment %>
  <br>
  <br>
  <%= f.input :notes, label: "Any additional remarks?", placeholder: "E.g. Having some trouble with essay organization - would appreciate feedback focused on essay structure!" %>

  <div class="d-flex align-items-center justify-content-center  my-5">
    <div class="price-tag d-flex">
      <p class="flex-grow-1">Price:</p>
      <p>$</p>
      <p class="price">0</p>
    </div>
    <%= link_to "See Pricing Details", root_path, class: "ml-3 pricing-details" %>
  </div>

  <%= f.button :submit, "Submit my Essay", class: "main-btn" %>
<% end %>
