<h2 class="mb-4">Submission Details</h2>

<div class="mini-container">
  <h5 class="text-center">Student</h5>
  <p>Student name: <%= @essay.student_name %></p>
  <p>Email: <%= @essay.email %></p>
  <p>Applicant type: <%= @essay.applicant_type %></p>
  <p>Country Applying To: <%= @essay.country_applying %></p>
</div>

<div class="mini-container">
  <h5 class="text-center">Essay</h5>
   <p>Essay prompt: <%= @essay.prompt %> (<%= @essay.word_count %> words)</p>
   <p>University Applying To:
    <% if @essay.university_applying == "" %>
      Not specified
    <% else %>
      <%= @essay.university_applying %></p>
    <% end %>
  <p>Program Applying To:
    <% if @essay.program_applying == "" %>
      Not specified
    <% else %>
      <%= @essay.program_applying %></p>
    <% end %>
  <p class="mt-2">Price: $<%= @essay.essay_price %></p>
</div>

<div class="mini-container">
  <h5 class="text-center">Status</h5>
  <p>Reviewer: <%= @essay.reviewer_name %></p>
  <p>Status: <%= @essay.essay_status %></p>
  <p>Next Step: <%= @essay.next_step %></p>
</div>
