<h2 class="mb-5">Submission Details</h2>

<% if @essay.spam == true %>
  <div class="center mb-4">
    <div class="div">
      <i class="fas fa-user-times"></i>   &nbsp;<strong><u>Submission marked as spam</u></strong>   &nbsp;<i class="fas fa-user-times"></i>
    </div>
  </div>
<% end %>

<div class="mini-container">
  <h5 class="text-center mb-2"><strong>Student Information</strong></h5>
  <p>Student name: <strong><%= @essay.student_name %></strong></p>
  <p>Email: <strong><%= @essay.email %></strong></p>
  <p>Applicant type: <strong><%= @essay.applicant_type %></strong></p>
  <p>Country applying to: <strong><%= @essay.country_applying %></strong></p>
</div>

<div class="mini-container">
  <h5 class="text-center mb-2"><strong>Essay Information</strong></h5>
   <p>Essay prompt: <strong><%= @essay.prompt %> (<%= @essay.word_count %> words)</strong></p>
   <p>University applying to:
    <% if @essay.university_applying == "" %>
      <strong>Not specified</strong>
    <% else %>
      <strong><%= @essay.university_applying %></strong></p>
    <% end %>
  <p>Program applying to:
    <% if @essay.program_applying == "" %>
      <strong>Not specified</strong>
    <% else %>
      <strong><%= @essay.program_applying %></strong></p>
    <% end %>
  <p class="mt-2">Price: <strong>$<%= @essay.essay_price %></strong></p>
  <% if @essay.discountcode.present? && @essay.discountcode != "" %>
    <p class="mt-2">Discount Code: <strong><%= @essay.discountcode %></strong></p>
  <% end %>
</div>

<div class="mini-container mb-5">
  <h5 class="text-center mb-2"><strong>Essay Status</strong></h5>

  <p>Status: <strong><%= @essay.essay_status %>  <% if @essay.assigned == true %>
    (Editor: <%= @essay.reviewer_name %>)
  <% end %></strong></p>
  <p class="mb-3">Next Step: <% if @essay.spam == true %>
            <strong>None (marked as spam)</strong>
          <% elsif @essay.completed? %>
            <strong>Done!</strong>
          <% elsif @essay.next_step == "Assign editor" %>
            <strong><%= link_to @essay.next_step, edit_essay_path(@essay) %>
          <% else %>
            <strong><%= link_to @essay.next_step, essay_path(@essay), :method => :patch, data: { confirm: "Are you sure?" } %></strong>
          <% end %></strong></p>
  <table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">Essay received</th>
        <th scope="col">Invoice sent</th>
        <th scope="col">Payment received</th>
        <th scope="col">Editor assigned</th>
        <th scope="col">Essay reviewed</th>
        <th scope="col">Meeting scheduled</th>
        <th scope="col">Meeting completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">
          <% if @essay.received? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <% if @essay.invoice_sent? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <% if @essay.payment_received? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <% if @essay.assigned? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <% if @essay.reviewed? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <% if @essay.meeting_scheduled? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class="align-middle">
          <% if @essay.completed? %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<% unless @essay.spam == true  %>
  <div class="center">
    <p>Is this spam? <strong><%= link_to "Mark as spam", mark_as_spam_essay_path(@essay), :method => :patch, data: { confirm: "Are you sure?" } %></strong></p>
  </div>
<% end %>

